@import './phi.scss';

body {
  &.mode--light {
    color: black;
    background-color: rgb(
      255 * (1 - inverse-phi-pow(7)),
      255 * (1 - inverse-phi-pow(7)),
      255 * (1 - inverse-phi-pow(5))
    );
  }
  &.mode--dark {
    color: white;
    background-color: rgb(
      255 * inverse-phi-pow(7),
      255 * inverse-phi-pow(7),
      255 * inverse-phi-pow(5)
    );
  }
}
@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: rgb(
      255 * inverse-phi-pow(7),
      255 * inverse-phi-pow(7),
      255 * inverse-phi-pow(5)
    );
  }
}
@media (prefers-color-scheme: light) {
  body {
    color: black;
    background-color: rgb(
      255 * (1 - inverse-phi-pow(7)),
      255 * (1 - inverse-phi-pow(7)),
      255 * (1 - inverse-phi-pow(5))
    );
  }
}
